@model List<CategoryDto>

@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="customProductIndex">

    <p style="padding-top:100px;text-align:center">
        <a asp-action="Add" asp-controller="Category" class="btn btn-large d-block btn-success"><i class="fa fa-plus"></i> Yeni Kateqoriya</a>
    </p>
    <table class="table table-bordered" style="margin-top:15px">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Adı")
                </th>
                <th>
                    @Html.DisplayName("Aktivliyi")
                </th>
                <th>
                    @Html.DisplayName("Əməliyyatlar")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <p style="display:inline-block;">
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </p>
                    </td>

                    @{
                        if (item.IsActive == true)
                        {
                            <td>
                                <p style="display:inline-block;">
                                    @Html.DisplayName("Aktivdir")
                                </p>
                            </td>
                        }
                        else
                        {
                            <td>
                                <p style="display:inline-block;">
                                    @Html.DisplayName("Aktiv Deyil")
                                </p>
                            </td>
                        }
                    }

                    <td>
                        <div class="operations">
                            <a asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id"><i class="fa fa-edit btn btn-small btn-primary"></i></a> |
                            <a data-toggle="modal" data-target="#exampleModalCenter" id="@item.Id" onClick="reply_click(this.id)"><i class="fa fa-trash btn btn-small btn-danger deletedProduct"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> Diqqət! </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Məhsulu qalıcı olaraq silmək istəyirsiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Imtina</button>
                <button type="button" id="delCategory" data-id="0" class="btn btn-danger">Sil</button>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function reply_click(clicked_id) {
        $("#delCategory").attr('data-id', clicked_id);
    }
    $(function () {


        $(document).on("click", "#delCategory", function () {

            var delid = $(this).attr("data-id");
            $.ajax({
                url: "/Admin/Category/Delete",
                data: { id: delid },
                type: "GET",
                success: function (res) {
                    if (res.status === "400") {
                        swal({
                            title: "Xəta",
                            text: "Elanı silmə uğursuz oldu.Düzgün məlumat daxil etdiyinizdən əmin olun!",
                            icon: "error",
                            button: "Ok",
                        });
                    } else {
                        swal("Uğurlu", "Elan Uğurla silindi", "success")
                            .then(willRedirect => {
                                if (willRedirect) {
                                    window.location.href = res.data;
                                }
                            })
                    }
                }
            })

        })
    })
</script>

