@model IEnumerable<OfficeMart.UI.Models.API.Category>

<aside class="blog-sb-widgets section-sb" id="section-sb">

    <div class="theiaStickySidebar">

        <div class="section-filter">

            <div class="section-filter">

                <div class="blog-sb-widget multishopcategories_widget">

                    <h3 class="widgettitle">Kateqoriyalar</h3>

                    <div class="section-sb-current">

                        <ul class="section-sb-list productCategories">
                            @{
                                foreach (var item in Model)
                                {
                                    <li class="d-flex align-items-center flex-wrap">
                                        <input type="checkbox"/>
                                        <a class="d-flex justify-content-between align-items-center pr-0 @(item.SubCategory.Count > 0 ? "subcategoried" : "")" asp-controller="Products" asp-action="ProductsList" asp-route-categoryGUID="@item.GUID" data-category-GUID="@item.GUID">
                                            <span class="section-sb-label">@item.Name</span>
                                            @if (item.SubCategory.Count > 0)
                                            {
                                                <i class='icon ion-chevron-down'></i>
                                            }
                                        </a>
                                        <ul class="subCategories" style="display: none">
                                            @foreach (var subCategory in item.SubCategory)
                                            {
                                                <li class="d-flex align-items-center">
                                                    <input type="checkbox" value="false" />

                                                    <a asp-controller="Products" asp-action="ProductsList" asp-route-categoryGUID="@subCategory.GUID" data-category-GUID="@subCategory.GUID">
                                                        <span class="section-sb-label">@subCategory.Name</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>

                        <a class="searchByCategories btn m-0 w-100 text-white" href="#" style="box-shadow: none">Axtar</a>
                        <p class="m-0 text-danger text-center font-weight-bold mt-2 d-none errorMessageForCategory">Kateqoriya seçin.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</aside>