@*@model ProductsViewModel
@{
    var categories = Model.Categories;

    foreach (var product in Model.Products)
    {
        var productGUID = product.GUID;
        <article class="prod-li sectls" data-guid="@productGUID">
            <div class="prod-li-inner">
                <a class="prod-li-img" asp-action="Index" asp-controller="ProductDetail" asp-route-id="@productGUID">
                    <img src="@product.ImageUrl" id="baseimage-@product.GUID" alt="@product.Name" />
                </a>

                <div class="prod-li-cont">
                    <div class="prod-li-ttl-wrap">
                        <p><a asp-controller="Products" asp-action="ProductsList" asp-route-categoryGUID="@product.CategoryGUID">@product.CategoryName</a></p>
                        <h3>
                            <a id="product-name-@productGUID" asp-action="Index" asp-controller="ProductDetail" asp-route-id="@productGUID">
                                @product.Name
                            </a>
                        </h3>
                    </div>

                    <div class="prod-li-prices">
                        <div class="prod-li-price-wrap">
                            <p>Qiyməti</p>
                            <p class="prod-li-price">₼ @product.Price.ToString("F1", System.Globalization.CultureInfo.InvariantCulture)</p>
                            <input type="hidden" id="price-@productGUID" value="@product.Price.ToString("F1", System.Globalization.CultureInfo.InvariantCulture)" />
                        </div>

                        <div class="prod-li-qnt-wrap">
                            <p class="qnt-wrap prod-li-qnt">
                                <a data-id="@productGUID" class="qnt-plus prod-li-plus">
                                    <i class="icon ion-arrow-up-b"></i>
                                </a>
                                <input type="text" id="count-@productGUID" readonly value="1" />
                                <a data-id="@productGUID" class="qnt-minus prod-li-minus">
                                    <i class="icon ion-arrow-down-b"></i>
                                </a>
                            </p>
                        </div>

                        <div class="prod-li-total-wrap">
                            <p>Cəm</p>
                            <p id="total-@productGUID" class="prod-li-total">₼ @product.Price.ToString("F1", System.Globalization.CultureInfo.InvariantCulture)</p>
                            <input type="hidden" id="total-value-@productGUID" value="@product.Price.ToString("F1", System.Globalization.CultureInfo.InvariantCulture)" />
                        </div>
                    </div>
                </div>

                <div class="prod-li-info">
                    <p class="prod-li-add">
                        <a id="@productGUID" class="button hover-label prod-addbtn">
                            <i class="icon ion-android-cart"></i>
                            <span>Səbətə əlavə et</span>
                        </a>
                    </p>
                    <p class="prod-li-information d-none">
                        <a href="#" class="hover-label">
                            <i class="icon ion-more"></i>
                            <span>Əlava məlumat</span>
                        </a>
                    </p>
                </div>

                <div class="page-styling prod-li-informations">
                    <dl class="prod-li-props">
                    </dl>
                </div>
            </div>
        </article>
    }
}

<script>
    
</script>*@