@model List<ProductDto>
@{
    foreach (var item in Model)
    {
        <input value="@item.Count" class="prodCount" hidden/>
        <article class="prod-li sectls">
            <div class="prod-li-inner">
                <a class="prod-li-img" asp-action="Index" asp-controller="ProductDetail" asp-route-id="@item.Id">
                    <img id="baseimage-@item.Id" src="~/img/@item.ProductImages.FirstOrDefault()" alt="">
                </a>
                <div class="prod-li-cont">
                    <div class="prod-li-ttl-wrap">
                        <p>
                            <a asp-action="CategoryProducts" asp-controller="Products" asp-route-id="@item.Category.Id">@item.Category.CategoryName</a>
                        </p>
                        <h3><a id="product-name-@item.Id" asp-action="Index" asp-controller="ProductDetail" asp-route-id="@item.Id">@item.ProductName</a></h3>
                    </div>
                    <div class="prod-li-prices">
                        <div class="prod-li-price-wrap">
                            <p>Qiyməti</p>
                            @{
                                if (item.DiscountPrice > 0)
                                {
                                    <del>₼ @item.DiscountPrice</del>
                                }
                            }
                            <p class="prod-li-price">₼ @item.Price</p>
                            <input type="hidden" id="price-@item.Id" value="@item.Price" />
                        </div>
                        <div class="prod-li-qnt-wrap">
                            <p class="qnt-wrap prod-li-qnt">
                                <a data-id="@item.Id" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                                <input type="text" readonly id="count-@item.Id" value="1">
                                <a data-id="@item.Id" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                            </p>
                        </div>
                        <div class="prod-li-total-wrap">
                            <p>Cəm</p>
                            <p id="total-@item.Id" class="prod-li-total">@item.Price₼</p>
                            <input type="hidden" id="total-value-@item.Id" value="@item.Price">
                        </div>
                    </div>
                </div>
                <div class="prod-li-info">
                    <p class="prod-li-add">
                        <a id="@item.Id" class="button hover-label prod-addbtn"><i class="icon ion-android-cart"></i><span>Səbətə əlavə et</span></a>
                    </p>
                    <p class="prod-li-information">
                        <a href="#" class="hover-label"><i class="icon ion-more"></i><span>Əlava məlumat</span></a>
                    </p>
                </div>
            </div>
            <div class="page-styling prod-li-informations">

                <dl class="prod-li-props">
                    @{
                        if (!item.ProductSize.Size.Contains("---"))
                        {
                            <dt>Ölçüsü :</dt>
                            <dd><a href="#">@item.ProductSize.Size</a></dd>
                        }
                        else if (!item.Color.ColorName.Contains("---"))
                        {
                            <dt>Rəngi :</dt>
                            <dd>@item.Color.ColorName</dd>
                        }
                        else if (item.Description != null)
                        {
                            <dt>Haqqında :</dt>
                            <dd>@item.Description</dd>
                        }
                    }

                </dl>
            </div>
        </article>
    }
}