@model IEnumerable<ProductDto>

@{
    ViewData["Title"] = "CategoryProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var categories = Library.GetInstance().CategoryProducts;
}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<div id="content" class="site-content">

    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="cont maincont">

                <div class="section-top">

                    <h1 class="maincont-ttl">Məhsullar</h1>
                    <div class="section-top-sort">
                        <div class="section-view">
                            <p>View</p>
                            <div class="dropdown-wrap">
                                <p class="dropdown-title section-view-ttl">Gallery</p>
                                <ul class="dropdown-list">
                                    <li>
                                        <a href="catalog-list.html">List</a>
                                    </li>
                                    <li class="active">
                                        <a href="catalog-gallery.html">Gallery</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="section-sort">
                            <p>Sort</p>
                            <div class="dropdown-wrap">
                                <p class="dropdown-title section-sort-ttl">Newness</p>
                                <ul class="dropdown-list">
                                    <li>
                                        <a href="#">Popularity</a>
                                    </li>
                                    <li>
                                        <a href="#">Average rating</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Newness</a>
                                    </li>
                                    <li>
                                        <a href="#">Price: low to high</a>
                                    </li>
                                    <li>
                                        <a href="#">Price: high to low</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <form method="post" class="products-per-page">
                            <p>Per Page</p>
                            <select>
                                <option value="12" selected="selected">12</option>
                                <option value="24">24</option>
                                <option value="48">48</option>
                                <option value="-1">All</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="section-wrap-withsb">
                    <aside class="blog-sb-widgets section-sb" id="section-sb">

                        <div class="theiaStickySidebar">

                            <div class="section-filter">

                                <div class="section-filter">

                                    <div class="blog-sb-widget multishopcategories_widget">

                                        <h3 class="widgettitle">Kateqoriyalar</h3>

                                        <div class="section-sb-current">

                                            <ul class="section-sb-list">
                                                @{

                                                    foreach (var item in categories)
                                                    {
                                                        <li>
                                                            <a href="#">
                                                                <span class="section-sb-label">
                                                                        @item.CategoryName
                                                                    <span class="count">
                                                                        @item.Products.Count()
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        }
                                                    }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="blog-sb-widget multishopfeaturedproducts_widget">
                                        <h3 class="widgettitle">Featured</h3>
                                        <div class="products-featured-wrap">
                                            <div class="products-featured">
                                                <p class="products-featured-categ">
                                                    <a href="#">Tools</a>
                                                </p>
                                                <h5 class="products-featured-ttl"><a href="product.html">Rechargeable Battery</a></h5>
                                                <p class="products-featured-price">$201.00</p>
                                            </div>
                                            <div class="products-featured">
                                                <p class="products-featured-categ">
                                                    <a href="#">Pipes</a>
                                                </p>
                                                <h5 class="products-featured-ttl"><a href="product.html">Wholesale Brass</a></h5>
                                                <p class="products-featured-price">$15.00</p>
                                            </div>
                                            <div class="products-featured">
                                                <p class="products-featured-categ">
                                                    <a href="#">Pipes</a>
                                                </p>
                                                <h5 class="products-featured-ttl"><a href="product.html">Fittings Pipe</a></h5>
                                                <p class="products-featured-price">$77.00</p>
                                            </div>

                                            <div class="products-featured">

                                                <p class="products-featured-categ">

                                                    <a href="#">Pipes</a>

                                                </p>

                                                <h5 class="products-featured-ttl"><a href="product.html">Fittings Pipe</a></h5>

                                                <p class="products-featured-price">$105.00</p>

                                            </div>

                                            <div class="products-featured">

                                                <p class="products-featured-categ">

                                                    <a href="#">Fasteners</a>

                                                </p>

                                                <h5 class="products-featured-ttl"><a href="product.html">Flat Bolt</a></h5>

                                                <p class="products-featured-price">$45.00</p>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="blog-sb-widget multishopbrands_widget">

                                        <h3 class="widgettitle">Brands</h3>

                                        <ul class="brands-list-sb">

                                            <li>

                                                <a href="#">HOOK <span class="count">5</span></a>

                                            </li>

                                            <li>

                                                <a href="#">Fuel Tank <span class="count">7</span></a>

                                            </li>

                                            <li>

                                                <a href="#">BMP <span class="count">17</span></a>

                                            </li>

                                            <li>

                                                <a href="#">BISON <span class="count">9</span></a>

                                            </li>

                                            <li>

                                                <a href="#">AIR <span class="count">6</span></a>

                                            </li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </aside>        <div class="section-list-withsb" id="section-list-withsb">
                        <div class="theiaStickySidebar">

                            <div class="prod-litems section-list">
                                @{
                                    foreach (var item in Model)
                                    {
                                        <article class="prod-li sectls">
                                            <div class="prod-li-inner">
                                                <a href="product.html" class="prod-li-img">
                                                    <img src="~/img/@item.ProductImages.FirstOrDefault()" alt="">
                                                </a>
                                                <div class="prod-li-cont">
                                                    <div class="prod-li-ttl-wrap">
                                                        <p>
                                                            <a href="#">@item.Category.CategoryName</a>
                                                        </p>
                                                        <h3><a href="product.html">@item.ProductName</a></h3>
                                                    </div>
                                                    <div class="prod-li-prices">
                                                        <div class="prod-li-price-wrap">
                                                            <p>Qiyməti</p>
                                                            <p class="prod-li-price">₼ @item.Price</p>
                                                        </div>
                                                        <div class="prod-li-qnt-wrap">
                                                            <p class="qnt-wrap prod-li-qnt">
                                                                <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                                                                <input type="text" value="1">
                                                                <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                                                            </p>
                                                        </div>
                                                        <div class="prod-li-total-wrap">
                                                            <p>Ümumi</p>
                                                            <p class="prod-li-total">₼ 120.00</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="prod-li-info">
                                                    <p class="prod-li-add">
                                                        <a href="#" class="button hover-label prod-addbtn"><i class="icon ion-android-cart"></i><span>Səbətə əlavə et</span></a>
                                                    </p>
                                                    <p class="prod-quickview">
                                                        <a href="#" class="hover-label quick-view" id="productQuickView" data-id="@item.Id"><i class="icon ion-plus"></i><span>Ətraflı baxış</span></a>
                                                    </p>
                                                    <p class="prod-li-information">
                                                        <a href="#" class="hover-label"><i class="icon ion-more"></i><span>Əlava məlumat</span></a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="page-styling prod-li-informations">

                                                <dl class="prod-li-props">
                                                    @{
                                                        if (!item.ProductSize.Size.Contains("---"))
                                                        {
                                                            <dt>Ölçüsü :</dt>
                                                            <dd><a href="#">@item.ProductSize.Size</a></dd>
                                                        }
                                                        else if (!item.Color.ColorName.Contains("---"))
                                                        {
                                                            <dt>Rəngi :</dt>
                                                            <dd>@item.Color.ColorName</dd>
                                                        }
                                                        else
                                                        {
                                                            <dt>Bu məhsul üçün əlavə məlumat yoxdur...</dt>
                                                        }
                                                    }

                                                    @*<dt>Dimensions:</dt>
                                                    <dd>4 x 50 cm</dd>
                                                    <dt>Сolor:</dt>
                                                    <dd><a href="#" rel="tag">Black</a>, <a href="#" rel="tag">Green</a></dd>
                                                    <dt>Manufacturer:</dt>
                                                    <dd><a href="#">France</a></dd>
                                                    <dt>Material:</dt>
                                                    <dd><a href="#" rel="tag">Metall</a>, <a href="#" rel="tag">Plastic</a>, <a href="#" rel="tag">Rubber</a></dd>*@
                                                </dl>
                                            </div>
                                        </article>
                                    }
                                }
                            </div>
                            <ul class="page-numbers">
                                <li><span class="page-numbers current">1</span></li>
                                <li><a class="page-numbers" href="#">2</a></li>
                                <li><a class="page-numbers" href="#">3</a></li>
                                <li><a class="page-numbers" href="#">4</a></li>
                                <li><a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="cont maincont quick-view-modal">
    <article>
        <div class="prod">
            <div class="prod-slider-wrap prod-slider-shown">
                <div class="flexslider prod-slider" id="prod-slider">
                    <ul class="slides" id="top-slider">
                        <li>
                            <a data-fancybox-group="qprod" class="fancy-img">
                                <img src="" alt="" class="sliderMainImg1">
                            </a>
                        </li>
                        <li>
                            <a data-fancybox-group="qprod" class="fancy-img">
                                <img src="" alt="" class="sliderMainImg2">
                            </a>
                        </li>
                        <li>
                            <a data-fancybox-group="qprod" class="fancy-img">
                                <img src="" alt="" class="sliderMainImg3">
                            </a>
                        </li>
                    </ul>
                    <div class="prod-slider-count"><p><span class="count-cur">1</span> / <span class="count-all">3</span></p><p class="hover-label prod-slider-zoom"><i class="icon ion-search"></i><span>Zoom In</span></p></div>
                </div>
                <div class="flexslider prod-thumbs" id="prod-thumbs">
                    <ul class="slides" id="bottom-slider">
                        <li>
                            <img src="" alt="" class="sliderMainImg1">
                        </li>
                        <li>
                            <img src=""  alt="" class="sliderMainImg2">
                        </li>
                        <li>
                            <img src="" alt="" class="sliderMainImg3">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="prod-cont">
               
                <p class="prod-categs"><a href="#"></a></p>
                <h2 class="prod-name"></h2>
                <p class="prod-price">$25.00</p>
                <p class="stock in-stock"></p>
                @*<p class="prod-excerpt">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget...</p>*@
                <div class="prod-add">
                    <button type="submit"
                            class="button">
                        <i class="icon ion-android-cart"></i> Səbətə əlavə et
                    </button>
                    <p class="qnt-wrap prod-li-qnt">
                        <a href="#" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                        <input type="text" value="1">
                        <a href="#" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </article>
</div>

<script>
    $(function () {

        $(document).on("click", ".quick-view", function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id");

            $.ajax({
                url: "/Ajax/GetByIdForQuickView/" + id,
                type: "GET",
                success: function (res) {
                    console.log(res);
                    $(".prod-categs").text(`${res.category.categoryName}`);
                    $(".prod-price").text(`₼ ${res.price}`);
                    $(".prod-name").text(`${res.productName}`);
                    $(".in-stock").text(`Mövcud say : ${res.count}`);

                    for (let i = 0; i < res.imagesBase64.length; i++) {
                        $(".sliderMainImg1").attr("src", `${res.imagesBase64[0]}`);
                        var image1 = $(".sliderMainImg1").attr("src");
                        if (image1 == "undefined") {
                            $(".sliderMainImg1").parent().css("display", "none");
                        }

                        $(".sliderMainImg2").attr("src", `${res.imagesBase64[1]}`);
                        var image2 = $(".sliderMainImg2").attr("src");
                        if (image2 == "undefined") {
                            $(".sliderMainImg2").parent().css("display", "none");
                        }

                        $(".sliderMainImg3").attr("src", `${res.imagesBase64[2]}`);
                        var image3 = $(".sliderMainImg3").attr("src");
                        if (image3 == "undefined") {
                            $(".sliderMainImg3").parent().css("display", "none");
                        }
                    }
                }
            });

        });
    });
</script>