@model List<OrderDto>
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var orderNumberId = Model.Select(x => x.OrderNumberId).FirstOrDefault();
    bool isApprovedSuccessful = ViewBag.isApprovedSuccessful != null ? Convert.ToBoolean(ViewBag.isApprovedSuccessful) : false;
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Sifariş detalları
            </div>
            <div>
                <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                    <thead class="text-center">
                        <tr>
                            <th data-breakpoints="xs" class="text-center">Məhsul adı</th>
                            <th class="text-center">Anbardaki say</th>
                            <th class="text-center">Sifariş sayı</th>
                            <th class="text-center">Vahid qiymət</th>
                            <th class="text-center">Ümumi qiymət</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @{
                            decimal totalPrice = 0;
                            foreach (var item in Model)
                            {
                                totalPrice += item.TotalPrice;
                                if (item.IsOverflow)
                                {
                                    <tr data-expanded="true" style="border:2px solid #D9534F">
                                        <td>@item.Product.ProductName</td>
                                        <td style="color:red">@item.Product.Count</td>
                                        <td style="color:red">@item.OrderCount</td>
                                        <td>@item.SaledPrice</td>
                                        <td>@item.TotalPrice</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr data-expanded="true">
                                        <td>@item.Product.ProductName</td>
                                        <td>@item.Product.Count</td>
                                        <td>@item.OrderCount</td>
                                        <td>@item.SaledPrice</td>
                                        <td>@item.TotalPrice</td>
                                    </tr>
                                }
                            }
                                    <tr data-expanded="true">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        @{
                                            bool isApproved = Model.Select(x => x.IsApproved).FirstOrDefault();
                                            if (!isApproved)
                                            {
                                                <td style="font-weight:bold;">
                                                    Sifariş məbləği :<span style="font-size:20px;"> @totalPrice</span> ₼
                                                    <div class="col-md-offset-3">
                                                        <form asp-action="ApproveOrder" asp-controller="Order" asp-route-orderNumberId="@orderNumberId" method="post" class="col-md-4" style="padding:0;margin-right:10px">
                                                            <input style="margin:5px;width:100%;" class="btn btn-success btn-sm" value="Təsdiqlə" type="submit" />
                                                        </form>
                                                        <form class="col-md-4" style="padding:0">
                                                            <input style="margin:5px;width:100%;" class="btn btn-danger btn-sm " value="İmtina" />
                                                        </form>
                                                    </div>
                                                </td>
                                            }
                                        }

                                    </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@{
    if (isApprovedSuccessful)
    {
        <script>
            swal("Uğurlu!", "Sifariş təsdiqləndi", "success")
                .then(willRedirect => {
                    if (willRedirect) {
                        window.location.href = "/Admin/Order/NotApprovedOrdersList";
                    }
                });
        </script>
    }
}


