@model CategoryProductsDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="cont maincont">
                <ul class="b-crumbs" style="visibility:hidden">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="catalog-gallery.html">Catalog</a></li>
                    <li>Product</li>
                </ul>
                <article>
                    <div class="prod">
                        <div class="prod-slider-wrap prod-slider-shown">
                            <div class="flexslider prod-slider" id="prod-slider">
                                <ul class="slides">
                                    @{
                                        foreach (var item in Model.ProductDto.ProductImages)
                                        {
                                            <li>
                                                <a data-fancybox-group="prod" class="fancy-img">
                                                    <img id="baseimage-@Model.ProductDto.Id" src="~/img/@item" alt="">
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                                <div class="prod-slider-count"><p><span class="count-cur">1</span> / <span class="count-all">2</span></p><p class="hover-label prod-slider-zoom"><i class="icon ion-search"></i><span>Zoom In</span></p></div>
                            </div>
                            <div class="flexslider prod-thumbs" id="prod-thumbs">
                                <ul class="slides">
                                    @{
                                        foreach (var item in Model.ProductDto.ProductImages)
                                        {
                                            <li>
                                                <img src="~/img/@item" alt="">
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="prod-cont">
                            <p class="prod-categs"><a href="#">@Model.ProductDto.Category.CategoryName</a></p>
                            <h1 id="product-name-@Model.ProductDto.Id">@Model.ProductDto.ProductName</h1>
                            <div class="variations_form cart">
                                <p class="prod-price">₼ @Model.ProductDto.Price</p>
                                <input type="hidden" id="price-@Model.ProductDto.Id" value="@Model.ProductDto.Price" />
                                <p class="prod-excerpt">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget... <a id="prod-showdesc" class="prod-excerpt-more" href="#">read more</a></p>
                                <div class="prod-add">
                                    <button id="@Model.ProductDto.Id" class="button prod-addbtn"><i class="icon ion-android-cart"></i>Səbətə Əlavə Et</button>
                                    <p class="qnt-wrap prod-li-qnt">
                                        <a data-id="@Model.ProductDto.Id" class="qnt-plus prod-li-plus"><i class="icon ion-arrow-up-b"></i></a>
                                        <input type="text" readonly id="count-@Model.ProductDto.Id" value="1">
                                        <a data-id="@Model.ProductDto.Id" class="qnt-minus prod-li-minus"><i class="icon ion-arrow-down-b"></i></a>
                                    </p>
                                    <div style="display:flex">
                                        <p>Cəm</p>
                                        <p style=" color: #6bc67c" id="total-@Model.ProductDto.Id" class="prod-li-total ml-1">@Model.ProductDto.Price₼</p>
                                        <input type="hidden" id="total-value-@Model.ProductDto.Id" value="@Model.ProductDto.Price">
                                    </div>
                                </div>
                            </div>

                            <div class="prod-props">
                                <dl class="product_meta">
                                    <dl class="prod-li-props">
                                        @{
                                            if (!Model.ProductDto.ProductSize.Size.Contains("---"))
                                            {
                                                <dt>Ölçüsü :</dt>
                                                <dd><a href="#">@Model.ProductDto.ProductSize.Size</a></dd>
                                            }
                                            else if (!Model.ProductDto.Color.ColorName.Contains("---"))
                                            {
                                                <dt>Rəngi :</dt>
                                                <dd>@Model.ProductDto.Color.ColorName</dd>
                                            }
                                            else
                                            {
                                                <dt>Bu məhsul üçün əlavə məlumat yoxdur...</dt>
                                            }
                                        }

                                    </dl>
                                </dl>
                            </div>
                        </div>
                        <p class="prod-badge">
                            <span class="badge-1" style="display:none">TOP SELLER</span>
                        </p>
                    </div>
                    <h2 class="prod-related-ttl">Bənzər məhsullar</h2>
                    <div class="row prod-items prod-items-4">
                        @foreach (var item in Model.ProducstDto)
                        {
                            <article class="cf-sm-6 cf-md-6 cf-lg-3 col-xs-6 col-sm-6 col-md-6 col-lg-3 sectgl-item sectgl-item">
                                <div class="sectgl prod-i">
                                    <div class="prod-i-top">
                                        <a class="prod-i-img" href="product.html">
                                            <img src="~/img/@item.ProductImages.Select(x=>x).FirstOrDefault()" alt="">
                                        </a>
                                    </div>
                                    <div class="prod-i-bot">
                                        <div class="prod-i-info">
                                            <p class="prod-i-price">₼ @item.Price</p>
                                            <p class="prod-i-categ"><a href="catalog-gallery.html">@item.Category.CategoryName</a></p>
                                        </div>
                                        <h3 class="prod-i-ttl"><a href="product.html">@item.ProductName</a></h3>
                                    </div>
                                </div>
                            </article>
                        }
                    </div>
                </article>
            </div>
        </main>
    </div>
</div>
