@model HomeViewModel

@{
    ViewData["Title"] = Localizer["OfficeMart"];
}

<div id="content" class="site-content">
    <div id="primary" class="content-area width-full">
        <main id="main" class="site-main">

            <div class="owl-carousel-wrapper">
                <div class="owl-carousel">
                    @foreach (var item in Model.sliders)
                    {
                        <div class="item" style="background-image: url(@item.ImageUrl)">
                            <a href="@(string.IsNullOrEmpty(item.UrlPath) ? "javascript:void(0)" : item.UrlPath)">
                                <h1>@item.Title</h1>
                            </a>
                        </div>
                    }
                </div>
            </div>

            <div class="container mb60 page-styling row-wrap-container row-wrap-nottl">
                <h2 class="mb35 heading-multishop">@Localizer["Kateqoriyalar"]</h2>
                <div class="row prod-items prod-items-3">
                    @{
                        foreach (var item in Model.categories)
                        {
                            <article class="cf-sm-6 cf-md-4 cf-lg-4 col-xs-6 col-sm-6 col-md-4 col-lg-4 sectgl-item">
                                <div class="sectgl prod-i" style="cursor:pointer">
                                    <div class="prod-i-top">
                                        <a class="prod-i-img" asp-controller="Products" asp-action="ProductsList" asp-route-categoryGUID="@item.GUID" data-category-GUID="@item.GUID">
                                            <img src="@item.ImageUrl" alt="@item.Name">
                                        </a>
                                    </div>
                                    <div class="prod-i-bot">
                                        <h3 class="prod-i-ttl">
                                            <a asp-controller="Products" asp-action="ProductsList" asp-route-categoryGUID="@item.GUID" data-category-GUID="@item.GUID">@item.Name</a>
                                        </h3>
                                    </div>
                                </div>
                            </article>
                        }
                    }
                </div>
                <p class="special-more" style="display:none">
                    <a class="special-more-btn" href="#">Daha Çox</a>
                </p>
            </div>

            <div class="container mb40 page-styling row-wrap-container row-wrap-nottl front-icons">
                <div class="row">
                    <div class="cf-lg-4 col-sm-4">
                        <div class="iconbox-item iconbox-i">
                            <div class="iconbox-i-top">
                                <p class="iconbox-i-img withimg">
                                    <img src="~/img/1/front/1.png" alt="">
                                </p>
                                <h3>@Localizer["Siz Seçin"]!</h3>
                            </div>

                        </div>
                    </div>
                    <div class="cf-lg-4 col-sm-4">
                        <div class="iconbox-item iconbox-i">
                            <div class="iconbox-i-top">
                                <p class="iconbox-i-img withimg">
                                    <img src="~/img/1/front/2.png" alt="">
                                </p>
                                <h3>@Localizer["Sifariş Edin"]!</h3>
                            </div>

                        </div>
                    </div>
                    <div class="cf-lg-4 col-sm-4">
                        <div class="iconbox-item iconbox-i">
                            <div class="iconbox-i-top">
                                <p class="iconbox-i-img withimg">
                                    <img src="~/img/1/front/3.png" alt="">
                                </p>
                                <h3>@Localizer["Biz Çatdıraq"]!</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>